input[type="email"] {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type="password"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
}